In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fullclean.csv')

C:\Users\prashanth\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,Unnamed: 0,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText
0,0,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned ...
1,1,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for the...
2,2,B0019CW0HE,A2P6ACFZ8FTNVV,Melissa Benjamin,0,1,1,1331164800,Bad,I fed this to my Golden Retriever and he hate...
3,3,B006F2NYI2,A132DJVI37RB4X,Scottdrum,2,5,2,1332374400,"Not hot, not habanero","I have to admit, I was a sucker for the large..."
4,4,B000P41A28,A82WIMR4RSVLI,Emrose mom,0,1,4,1337472000,The best weve tried so far,We have a 7 week old... He had gas and consti...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568186 entries, 0 to 568185
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              568186 non-null  int64
 1   ProductId               568186 non-null  object
 2   UserId                  568186 non-null  object
 3   ProfileName             568186 non-null  object
 4   HelpfulnessNumerator    568186 non-null  int64
 5   HelpfulnessDenominator  568186 non-null  int64
 6   Score                   568186 non-null  int64
 7   Time                    568186 non-null  object
 8   ReviewSummary           568186 non-null  object
 9   ReviewText              568186 non-null  object
dtypes: int64(4), object(6)
memory usage: 43.3+ MB

In [5]:
# considering 4-5 as positive and 1-2 as negative rating
df_temp = df[df.Score != 3]

In [6]:
df_temp = df_temp[df_temp.Score != 0]

In [7]:
df_temp.head()

,Unnamed: 0,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText
0,0,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned ...
1,1,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for the...
2,2,B0019CW0HE,A2P6ACFZ8FTNVV,Melissa Benjamin,0,1,1,1331164800,Bad,I fed this to my Golden Retriever and he hate...
3,3,B006F2NYI2,A132DJVI37RB4X,Scottdrum,2,5,2,1332374400,"Not hot, not habanero","I have to admit, I was a sucker for the large..."
4,4,B000P41A28,A82WIMR4RSVLI,Emrose mom,0,1,4,1337472000,The best weve tried so far,We have a 7 week old... He had gas and consti...

In [8]:
df_temp.shape

(525375, 10)

In [9]:
df_temp.Score.unique()

array([5, 1, 2, 4], dtype=int64)

In [10]:
df_temp.drop('Unnamed: 0',axis = 1,inplace = True)

In [11]:
df_temp.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText
0,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned ...
1,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for the...
2,B0019CW0HE,A2P6ACFZ8FTNVV,Melissa Benjamin,0,1,1,1331164800,Bad,I fed this to my Golden Retriever and he hate...
3,B006F2NYI2,A132DJVI37RB4X,Scottdrum,2,5,2,1332374400,"Not hot, not habanero","I have to admit, I was a sucker for the large..."
4,B000P41A28,A82WIMR4RSVLI,Emrose mom,0,1,4,1337472000,The best weve tried so far,We have a 7 week old... He had gas and consti...

In [12]:
df_temp['Rating'] = df_temp.Score.apply(lambda x :  'Positive'    if x == 5 or x == 4 else 'Negative')

In [15]:
df_temp.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText,Rating
0,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned ...,Positive
1,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for the...,Positive
2,B0019CW0HE,A2P6ACFZ8FTNVV,Melissa Benjamin,0,1,1,1331164800,Bad,I fed this to my Golden Retriever and he hate...,Negative
3,B006F2NYI2,A132DJVI37RB4X,Scottdrum,2,5,2,1332374400,"Not hot, not habanero","I have to admit, I was a sucker for the large...",Negative
4,B000P41A28,A82WIMR4RSVLI,Emrose mom,0,1,4,1337472000,The best weve tried so far,We have a 7 week old... He had gas and consti...,Positive

In [16]:
df_temp['Rating'].value_counts(normalize=True)

Positive    0.843723
Negative    0.156277
Name: Rating, dtype: float64

In [52]:
X = df_temp[['ReviewText']]

In [53]:
y = df_temp['Rating']

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [56]:
X_train.head()

                                               ReviewText
227833   These were not good at all... too spicy. Too ...
35155    I bought whole bunches of different types of ...
71459    I love it for what it is! I love the peanut b...
544527   If you love jalapeno chips then Kettle is a m...
376499   Addicted to tea and this is the perfect solut...

In [28]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [29]:
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [30]:
def preprocess(raw_text,flag):
    # Removing special character and digits
    sentence = re.sub("[^a-zA-Z]"," ",raw_text)
    
    # change sentence to lower case
    sentence = sentence.lower()
    
    # tokenize into words
    tokens = sentence.split()
    
    # remove stop words
    clean_tokens = [t for t in tokens if not t in stopwords.words('english')]
    
    # stemming/lemmitization
    
    if flag == 'stem':
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]
    
    return pd.Series([" ".join(clean_tokens),len(clean_tokens)])

In [31]:
from tqdm import tqdm, tqdm_notebook

In [32]:
tqdm.pandas()

In [33]:
temp_df = X_train['ReviewText'].progress_apply(lambda x : preprocess(x,'stem'))

100%|████████████████████████████████████████████████████████████████████████| 420300/420300 [3:34:44<00:00, 32.62it/s]

In [34]:
temp_df.head()

                                                        0    1
227833  good spici limey crunch factor realli aw felt ...   20
35155   bought whole bunch differ type dri fruit inclu...  116
71459   love love peanut butter pint ice cream eat ice...   23
544527  love jalapeno chip kettl must tri br nice crun...   17
376499  addict tea perfect solut pg tip wonder know cl...   16

In [35]:
temp_df.columns = ['clean_text_stem','text_length_stem']
temp_df.head()

                                          clean_text_stem  text_length_stem
227833  good spici limey crunch factor realli aw felt ...                20
35155   bought whole bunch differ type dri fruit inclu...               116
71459   love love peanut butter pint ice cream eat ice...                23
544527  love jalapeno chip kettl must tri br nice crun...                17
376499  addict tea perfect solut pg tip wonder know cl...                16

In [36]:
X_train = pd.concat([X_train,temp_df],axis = 1)
X_train.head()

,ReviewText,clean_text_stem,text_length_stem
227833,These were not good at all... too spicy. Too ...,good spici limey crunch factor realli aw felt ...,20
35155,I bought whole bunches of different types of ...,bought whole bunch differ type dri fruit inclu...,116
71459,I love it for what it is! I love the peanut b...,love love peanut butter pint ice cream eat ice...,23
544527,If you love jalapeno chips then Kettle is a m...,love jalapeno chip kettl must tri br nice crun...,17
376499,Addicted to tea and this is the perfect solut...,addict tea perfect solut pg tip wonder know cl...,16

In [37]:
temp_df = X_train['ReviewText'].progress_apply(lambda x : preprocess(x,'lemma'))

100%|████████████████████████████████████████████████████████████████████████| 420300/420300 [3:17:10<00:00, 35.53it/s]

In [38]:
temp_df.columns = ['clean_text_lemma','text_length_lemma']
temp_df.head()

                                         clean_text_lemma  text_length_lemma
227833  good spicy limey crunch factor really awful fe...                 20
35155   bought whole bunch different type dried fruit ...                116
71459   love love peanut butter pint ice cream eat ice...                 23
544527  love jalapeno chip kettle must try br nice cru...                 17
376499  addicted tea perfect solution pg tip wonderful...                 16

In [67]:
X_train = pd.concat([X_train,temp_df],axis = 1)

X_train.head()

,Unnamed: 0,ReviewText,clean_text_stem,text_length_stem,clean_text_lemma,text_length_lemma,clean_text_lemma,text_length_lemma
0,227833.0,These were not good at all... too spicy. Too ...,good spici limey crunch factor realli aw felt ...,20.0,good spicy limey crunch factor really awful fe...,20.0,NaN,NaN
1,35155.0,I bought whole bunches of different types of ...,bought whole bunch differ type dri fruit inclu...,116.0,bought whole bunch different type dried fruit ...,116.0,NaN,NaN
2,71459.0,I love it for what it is! I love the peanut b...,love love peanut butter pint ice cream eat ice...,23.0,love love peanut butter pint ice cream eat ice...,23.0,fed golden retriever hated eat gave terrible d...,12.0
3,544527.0,If you love jalapeno chips then Kettle is a m...,love jalapeno chip kettl must tri br nice crun...,17.0,love jalapeno chip kettle must try br nice cru...,17.0,NaN,NaN
4,376499.0,Addicted to tea and this is the perfect solut...,addict tea perfect solut pg tip wonder know cl...,16.0,addicted tea perfect solution pg tip wonderful...,16.0,NaN,NaN

In [73]:
X_train = pd.read_csv('train.csv')

In [74]:
X_train.isnull().sum()

Unnamed: 0           0
ReviewText           0
clean_text_stem      1
text_length_stem     0
clean_text_lemma     1
text_length_lemma    0
dtype: int64

In [75]:
X_train[X_train.clean_text_lemma.isnull()]

,Unnamed: 0,ReviewText,clean_text_stem,text_length_stem,clean_text_lemma,text_length_lemma
155829,148748,&#1056;&#1077;&#1096;&#1080;&#1083;&#1072; &#...,NaN,0,NaN,0

In [83]:
X_train.drop(X_train.index[155829],inplace = True)

In [84]:
X_train.isnull().sum()

Unnamed: 0           0
ReviewText           0
clean_text_stem      0
text_length_stem     0
clean_text_lemma     0
text_length_lemma    0
dtype: int64

In [85]:
from sklearn.feature_extraction.text import CountVectorizer

vocab = CountVectorizer()
vocab.fit(X_train['clean_text_lemma'])
X_train_bow = vocab.transform(X_train['clean_text_lemma'])

In [86]:
X_train_bow

<420299x89520 sparse matrix of type '<class 'numpy.int64'>'
	with 13703618 stored elements in Compressed Sparse Row format>

In [87]:
print('Toral unique words:', len(vocab.vocabulary_))
print('Type of train features:', type(X_train_bow))
print('shape of input data:', X_train_bow.shape)

Toral unique words: 89520
Type of train features: <class 'scipy.sparse.csr.csr_matrix'>
shape of input data: (420299, 89520)

In [47]:
temp_df = X_test['ReviewText'].progress_apply(lambda x : preprocess(x,'stem'))

100%|██████████████████████████████████████████████████████████████████████████| 105075/105075 [54:56<00:00, 31.88it/s]

In [48]:
temp_df.columns = ['clean_text_stem','text_length_stem']
temp_df.head()

                                          clean_text_stem  text_length_stem
269177  one best chai tea tri tri bunch br br numi alm...                87
260105  husband cook hous saw chef tv use pomi strain ...                14
428951  drink coffe exclus sinc introduc local italian...                21
175804  coffe delici smooth hint mocha make amaz cappu...                31
273636  href http www amazon com gp product b lkxgku n...                95

In [61]:
temp_df.head()

                                          clean_text_stem  text_length_stem
269177  one best chai tea tri tri bunch br br numi alm...                87
260105  husband cook hous saw chef tv use pomi strain ...                14
428951  drink coffe exclus sinc introduc local italian...                21
175804  coffe delici smooth hint mocha make amaz cappu...                31
273636  href http www amazon com gp product b lkxgku n...                95

In [62]:
X_test = pd.concat([X_test,temp_df],axis = 1)
X_test.head()

,ReviewText,clean_text_stem,text_length_stem
269177,This one is the Best of all the chai teas I'v...,one best chai tea tri tri bunch br br numi alm...,87
260105,My husband is the cook in our house. He saw ...,husband cook hous saw chef tv use pomi strain ...,14
428951,I have been drinking this coffee exclusively ...,drink coffe exclus sinc introduc local italian...,21
175804,"This coffee is so delicious--very smooth, wit...",coffe delici smooth hint mocha make amaz cappu...,31
273636,"<a href=""http,//www.amazon.com/gp/product/B00...",href http www amazon com gp product b lkxgku n...,95

In [63]:
temp_df = X_test['ReviewText'].progress_apply(lambda x : preprocess(x,'lemma'))

100%|██████████████████████████████████████████████████████████████████████████| 105075/105075 [53:57<00:00, 32.45it/s]

In [64]:
temp_df.columns = ['clean_text_lemma','text_length_lemma']
temp_df.head()

                                         clean_text_lemma  text_length_lemma
269177  one best chai tea tried tried bunch br br numi...                 87
260105  husband cook house saw chef tv using pomi stra...                 14
428951  drinking coffee exclusively since introduced l...                 21
175804  coffee delicious smooth hint mocha make amazin...                 31
273636  href http www amazon com gp product b lkxgku n...                 95

In [65]:
X_test = pd.concat([X_test,temp_df],axis = 1)

X_test.head()

,ReviewText,clean_text_stem,text_length_stem,clean_text_lemma,text_length_lemma
269177,This one is the Best of all the chai teas I'v...,one best chai tea tri tri bunch br br numi alm...,87,one best chai tea tried tried bunch br br numi...,87
260105,My husband is the cook in our house. He saw ...,husband cook hous saw chef tv use pomi strain ...,14,husband cook house saw chef tv using pomi stra...,14
428951,I have been drinking this coffee exclusively ...,drink coffe exclus sinc introduc local italian...,21,drinking coffee exclusively since introduced l...,21
175804,"This coffee is so delicious--very smooth, wit...",coffe delici smooth hint mocha make amaz cappu...,31,coffee delicious smooth hint mocha make amazin...,31
273636,"<a href=""http,//www.amazon.com/gp/product/B00...",href http www amazon com gp product b lkxgku n...,95,href http www amazon com gp product b lkxgku n...,95

In [68]:
from sklearn.feature_extraction.text import CountVectorizer

vocab = CountVectorizer()
vocab.fit(X_test['clean_text_lemma'])
X_test_bow = vocab.transform(X_test['clean_text_lemma'])

In [71]:
X_test_bow

<105075x49239 sparse matrix of type '<class 'numpy.int64'>'
	with 3411903 stored elements in Compressed Sparse Row format>

In [72]:
print('Toral unique words:', len(vocab.vocabulary_))
print('Type of train features:', type(X_test_bow))
print('shape of input data:', X_test_bow.shape)

Toral unique words: 49239
Type of train features: <class 'scipy.sparse.csr.csr_matrix'>
shape of input data: (105075, 49239)

In [89]:
X_train_bow

<420299x89520 sparse matrix of type '<class 'numpy.int64'>'
	with 13703618 stored elements in Compressed Sparse Row format>

In [90]:
X_test_bow

<105075x49239 sparse matrix of type '<class 'numpy.int64'>'
	with 3411903 stored elements in Compressed Sparse Row format>

In [94]:
y_train = y_train.apply(lambda x : 1   if x == 'Positive' else 0)

In [96]:
y_train.head()

227833    0
35155     0
71459     1
544527    1
376499    1
Name: Rating, dtype: int64

In [97]:
y_test = y_test.apply(lambda x : 1   if x == 'Positive' else 0)

In [98]:
y_test.head()

269177    1
260105    1
428951    1
175804    1
273636    1
Name: Rating, dtype: int64

In [100]:
y_train.drop(y_train.index[155829],inplace = True)

In [101]:
y_train.shape

(420299,)

In [109]:
X_train_dum = X_train_bow[:, :49239]

In [110]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_dum,y_train)

C:\Users\prashanth\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [111]:
y_test_pred = classifier.predict(X_test_bow)

In [112]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test,y_test_pred))

print(classification_report(y_test,y_test_pred))

0.789931001665477
              precision    recall  f1-score   support

           0       0.17      0.09      0.11     16441
           1       0.84      0.92      0.88     88634

    accuracy                           0.79    105075
   macro avg       0.51      0.50      0.50    105075
weighted avg       0.74      0.79      0.76    105075

In [113]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train_dum,y_train)

DecisionTreeClassifier()

In [114]:
y_test_pred = classifier.predict(X_test_bow)

In [116]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test,y_test_pred))

print(classification_report(y_test,y_test_pred))

0.7354461099214846
              precision    recall  f1-score   support

           0       0.20      0.24      0.22     16441
           1       0.85      0.83      0.84     88634

    accuracy                           0.74    105075
   macro avg       0.53      0.53      0.53    105075
weighted avg       0.75      0.74      0.74    105075

In [117]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train_dum,y_train)

RandomForestClassifier()

In [118]:
y_test_pred = classifier.predict(X_test_bow)

In [119]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test,y_test_pred))

print(classification_report(y_test,y_test_pred))

0.6979205329526529
              precision    recall  f1-score   support

           0       0.16      0.22      0.19     16441
           1       0.85      0.79      0.81     88634

    accuracy                           0.70    105075
   macro avg       0.50      0.51      0.50    105075
weighted avg       0.74      0.70      0.72    105075